<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> LOGIN SUCCESS PAGE</title>
    </head>
    <body>
    <h1>LOGIN SUCCESS</h1>
        <div><p>hello! <%=username%></p></div>
        <div><p>your wish : <%=userwish%></p></div>
        <div><p>USER PHOTO</p></div>
        <div><p><img src = "<%=userphoto%>"</p></div>
        <a href='/main/comm.html'> talk to us! </a>
    </body>
</html>