<!doctype html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> SIGNUP SUCCESS PAGE</title>
    </head>
    <body>
    <h1>SIGNUP SUCCESS</h1>
        <div><p>ADDED RECORD ID : <%=insertid%></p></div>
        <a href='/main/login.html'> log in here! </a>
    </body>
</html>